
$font-logo: 'Satisfy', cursive;
$font-nav: 'Montserrat', sans-serif;

body {
    margin: 0;
}

.splash {
    height: 100vh;
    position: relative;
    background-image: url('https://i.ibb.co/7SThDz1/gadgets-336635-1920.webp');
    background-color: grey;
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
}

.splash-top {
    width: 100%;
    position: absolute;
    margin-top: 5%;
    display: flex;
}

.splash .logo {
    color: rgb(202, 165, 2);
    font-size: 56px;
    margin: 0 320px;
    font-family: $font-logo;
}

.navigation {
    color: white;
    align-self: right;
    margin-right: 320px;
    margin-left: auto;
}

.navigation a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 50px;
    font-family: $font-nav;
}

.navigation a:hover {
    color: rgb(202, 165, 2);
    transition-duration: 0.3s;
}

.splash-text {
    position: absolute;
    margin-top: 370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.splash h3 {
    width: 100%;
    text-align: center;
    font-size: 56px;
}

.splash h2 {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 96px;
}

.btn {
    text-align: center;
    background-color:  rgb(202, 165, 2);
    margin-top: 65px;
    width: 240px;
    height: 65px;
    border-radius: 4px;
    font-size: 24px;
}

.btn .btn-text {
    padding-top: 18px;
    font-family: $font-nav;
}

.btn:hover {
    background-color: white;
    color: rgb(202, 165, 2);
    transition-duration: 0.3s;
}

.services {
    height: 100vh
}

.services-title {
    padding: 80px 0;
    text-align: center;
    margin-bottom: 15px
  }

.services h1 {
    font-size: 62px;
    margin-bottom: 5px;
}

.services h2 {
    padding-top: 20px;
    font-size: 24px;
    color: grey
}

.services-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 320px;
    display: flex;
}

.services-child:hover {
    .fa-solid {
        color: white;
        background-color: #e4c70c;
        transition-duration: 1s;
    }
    .sv-child-img {
        background-color: #e4c70c;
        transition-duration: 0.3s;
    }
}

.services-child {
    width: 350px;
    text-align: center;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-child h1 {
    font-size: 32px
}

.sv-child-img {
    border: solid #e4c70c;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.sv-child-img i {
    margin-top: 22px;
}

.services .fa-solid {
    color: #e4c70c;
}